
<h1 class="page-header">
	<br>Bienvenue
</h1>
<blockquote>
	<p>
		Pour commencer, veuillez selectionner un menu depuis la gauche. <br> <strong>Pour
			toutes informations supplementaires, </strong> Priere de contacter
		l'administrateur du systeme.
	</p>
</blockquote>
