{% extends 'ProjetAdminBundle:Layout:sb-admin.html.twig' %}
		{% block stylesheets %}
        	{{ parent() }}
        {% endblock %}
        
        {% block signin %}{% endblock %}
        {% block calendar %}{% endblock %}
        

{% block body %}
	
	{{ parent() }}
	<div class="container-fluid">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header"><br>Bienvenue</h1>
			<blockquote>
              <p>
              	Pour commencer, veuillez selectionner un menu depuis la gauche.
              	<br>
              	<strong>Pour toutes informations supplementaires, </strong> 
              	Priere de contacter l'administrateur du systeme.
              </p>
            </blockquote>
		</div>
	</div>
	
	

   
	
	
	
{% endblock %}

{% block stats %}{% endblock %}